# macOS
.DS_Store

# Editors
.idea/
.vscode/

# Go
bin/
dist/
build/
.gocache/
.gomodcache/
.gopath/
*.test
*.out
coverage.out

# Logs
*.log
logs/
logs-local/

# Local env
.env
.env.*

# Temp
tmp/
.tmp/

# OS / misc
*.swp
*.swo
